// Grid
@mixin grid(){
    display: grid;
}

// Grid Area
@mixin gridArea($height, $rowB, $colB, $rowE, $colE){
    height: $height;
    grid-column-start: $colB;
    grid-row-start: $rowB;
    grid-column-end: $colE;
    grid-row-end: $rowE;
    padding: 0 2rem;    
}

// flex
@mixin flex($justify-content: center, $align-items: center){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

// Size
@mixin size($width, $height){
    width: $width;
    height: $height;
}

// Posicion
@mixin position($position, $top, $right, $bottom, $left, $z-index){
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    z-index: $z-index;
}   

// Animation
@mixin animationT($animation){
    position: relative;
    animation: $animation 2s ease;

    @keyframes #{$animation}{
        0%{
            top: 100%;
        }100%{
            top: 0;
        }
    }
}

@mixin animationR($animation){
    position: relative;
    animation: $animation 2s ease;

    @keyframes #{$animation}{
        0%{
            right: 100%;
        }100%{
            right: 0;
        }
    }
}

@mixin animationB($animation){
    position: relative;
    animation: $animation 2s ease;

    @keyframes #{$animation}{
        0%{
            bottom: 100%;
        }100%{
            bottom: 0;
        }
    }
}

@mixin animationL($animation){
    position: relative;
    animation: $animation 2s ease;

    @keyframes #{$animation}{
        0%{
            left: 100%;
        }100%{
            left: 0;
        }
    }
}
// Animation End


// Media Querys
@mixin tablet(){
    @media screen and(max-width: 700px){
        @content;
    }
}

@mixin phone(){
    @media screen and(max-width: 300px){
        @content;
    }
}