// Grid
@mixin grid(){
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

// Grid Area
@mixin gridArea($height, $rowB, $colB, $rowE, $colE){
    height: $height;
    grid-area: $rowB/ $colB/ $rowE/ $colE;
    padding: 0 2rem;    
}

// flex
@mixin flex($justify-content: center, $align-items: center){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

// Size
@mixin size($width, $height){
    width: $width;
    height: $height;
}

// Posicion
@mixin position($position, $top, $right, $bottom, $left, $z-index){
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    z-index: $z-index;
}   



// Media Querys
@mixin tablet(){
    @media screen and(max-width: 700px){
        @content;
    }
}

@mixin phone(){
    @media screen and(max-width: 300px){
        @content;
    }
}