.about{
    @include gridArea(auto, 3, 1, 4, -1);
    padding: 2rem;
    transform: translateX(-100%);
    transition: transform 2s ease-in-out;

    .images{
        @include flex();
        @include size(100%, 45rem);
        margin-top: 2.5rem;

        .image{        
            @include size(100%, 100%);
        }
    }
}