.hero{
    @include gridArea(90vh, 2, 1, 3, -1);
    @include flex(space-between);
    padding: 2rem;
    margin-top: 5rem;
    @include tablet(){
        @include flex(){
            flex-direction: column;
        }
        height: 85vh;
    }

    .content{
        @include size(70%, auto);
        @include animationL(hero-content);
        @include tablet(){
            @include animationT(hero-contentT);
            @include size(100%, auto);
            z-index: -1;
        }
        
        .title{
            color: $black;
        }

        .subtitle{
            opacity: .5;
            line-height: 1.5;
            text-transform: capitalize;
        }
    }

    .images{
        @include size(25%, auto);  
        @include animationR(hero-image);
        @include flex();
        @include tablet(){
            @include size(40vw, 20rem);
            margin-top: 2rem;
        }  
        @include phone(){
            @include size(60vw, 20rem);
        }  

        .image{            
            @include size(100%, 100%);
            
            @include tablet(){
                @include size(100%, 75%);
            }  
        }
    }
}